html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

#map {
    height: 100%;
    width: 80%;
}

.wrapper {
    max-width: 1000px;
}

.search-bar {
    max-width: 400px;

}